# See ./b for running instructions
version: "3.8"
services:
  transaction_relayer:
    image: $ORG/jito-transaction-relayer:$TAG
    container_name: jito-transaction-relayer
    build:
      context: .
      dockerfile: Dockerfile
      target: jito-transaction-relayer
    environment:
      - RUST_LOG=info
      - KEYPAIR_PATH=/etc/solana/id.json
      - PUBLIC_IP=127.0.0.1
      - TPU_BIND_IP=0.0.0.0
      - NUM_QUIC_ENDPOINTS=10
      - TPU_QUIC_PORT=10006
      - NUM_TPU_QUIC_SERVERS=10
      - TPU_QUIC_FWD_PORT=10016
      - NUM_TPU_FWD_QUIC_SERVERS=10
      - GRPC_BIND_IP=0.0.0.0
      - GRPC_BIND_PORT=11226
      - NUM_TPU_BINDS=32
      - NUM_TPU_FWD_BINDS=16
      - RPC_SERVERS=$RPC_SERVERS
      - WEBSOCKET_SERVERS=$WEBSOCKET_SERVERS
      - SIGNING_KEY_PEM_PATH=/etc/keys/private.pem
      - VERIFYING_KEY_PEM_PATH=/etc/keys/public.pem
      - BLOCK_ENGINE_AUTH_SERVICE_URL=$BLOCK_ENGINE_AUTH_SERVICE_URL
      - BLOCK_ENGINE_URL=$BLOCK_ENGINE_URL
      - CLUSTER=$CLUSTER
      - REGION=$REGION
    restart: on-failure
    volumes:
      - ./config/keys:/etc/keys
      - ./config/solana:/etc/solana
    ports:
      - "10000:10000/udp"
      - "10001:10001/udp"
      - "10006:10006/udp"
      - "10007:10007/udp"
      - "11226:11226/tcp"
