name: Clean Code Check
on:
  workflow_call:

jobs:
  clippy_and_udeps_check:
    runs-on: big-runner-1
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          caller-workflow-name: clippy_and_udeps_check

      - name: cargo clippy
        run: cargo +nightly-2024-02-08-x86_64-unknown-linux-gnu clippy --all-targets

      - name: cargo udeps
        run: cargo +nightly-2024-02-08-x86_64-unknown-linux-gnu udeps --locked
