name: Clean Code Check
on:
  workflow_call:

jobs:
  clippy_and_udeps_check:
    runs-on: big-runner-1
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          caller-workflow-name: clippy_and_udeps_check

      - uses: actions-rs/clippy-check@v1
        with:
          args: --all-features

      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-udeps --locked

      - name: Run cargo udeps
        uses: actions-rs/cargo@v1
        with:
          command: udeps
