name: Master
on:
  push:
    branches:
      - master

jobs:
  clean_code_check:
    uses: ./.github/workflows/clean_code.yaml
    secrets:
      GHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_images:
    needs: clean_code_check
    uses: ./.github/workflows/build.yaml
    with:
      TAG: "latest"

  run_tests:
    needs: build_images
    uses: ./.github/workflows/test.yaml

  push_images:
    needs: run_tests
    uses: ./.github/workflows/push_artifacts.yaml
    with:
      TAG: "latest"
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PWD: ${{ secrets.DOCKERHUB_PWD }}
