name: Pull Request
on:
  pull_request:

jobs:
  clean_code_check:
    uses: ./.github/workflows/clean_code.yaml

  build_images:
    needs: clean_code_check
    uses: ./.github/workflows/build.yaml
    with:
      TAG: ${{ github.sha }}

  run_tests:
    needs: build_images
    uses: ./.github/workflows/test.yaml
    secrets:
      DOCKERHUB_ORG: jitolabs
    with:
      TAG: ${{ github.sha }}
