name: Push Images
on:
  workflow_call:
    inputs:
      TAG:
        required: true
        type: string

jobs:
  push:
    name: Docker Push
    runs-on: self-hosted
    steps:
      # login to registry
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PWD }}
      - name: Push relayer image
        run: docker push ${{ secrets.DOCKERHUB_ORG }}/jito-transaction-relayer:${{ inputs.TAG }}
